{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 10
        }
      }
    ]
  ],
  "env": {
    "production": {
      "ignore": ["**/__tests__", "**/*.test.js"]
    }
  }
}
